@model IEnumerable<DemoDotNet5.ViewModel.CustomerViewModel>


@{
    <style>
        /*Css pagination*/
        .page-item.active .page-link {
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
        }

        .page-link {
            color: #343a40;
            background-color: #fff;
        }
    </style>
}

          <div class="container p-3">
              <div class="row pt-4">
                  <div class="col-8">
                      <h2 class="text-dark">Customer List</h2>
                  </div>
                  <div class="col-4">
                      <div class="form-group">
                          <form asp-action="Index" method="get">
                              <div class="input-group">
                                  <input type="text" name="search" class="form-control" placeholder="Search Username">
                                  <div class="input-group-append">
                                      <button class="btn btn-secondary" type="submit">
                                          Search
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>

              <br /><br />
              <table class="table">
                  <thead>
                      <tr>
                          <th>Username</th>
                          <th>Fullname</th>
                          <th>Email</th>
                          <th>Address</th>
                          <th>User add</th>
                          <th>Created at</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>

                      @foreach (var obj in Model)
                      {

                          <tr>
                              <td>@obj.Username</td>
                              <td>@obj.Fullname</td>
                              <td>@obj.Email</td>
                              <td>@obj.Address</td>
                              <td>@obj.UserProfileFullName</td>
                              <td>@obj.CreatedAt</td>
                              <td>
                                  <a asp-controller="Customer" asp-route-id="@obj.Id" asp-action="Edit" class="btn btn-success">Edit</a>
                                  <a onclick="return confirm('Are you sure ?')" asp-controller="Customer" asp-route-id="@obj.Id" asp-action="Delete" class="btn btn-danger">Delete</a>
                              </td>
                          </tr>
                      }


                  </tbody>
              </table>


              <div class="row">
                  <div class="col-2">
                      <div class="form-group">
                          <form asp-action="Index" method="get">
                              <div class="input-group">
                                  <input type="number" name="pageSize" class="form-control" value="@ViewBag.pageSize" min="1">
                                  <input type="hidden" name="search" value="@ViewBag.search" />
                                  <div class="input-group-append">
                                      <button class="btn btn-dark" type="submit">
                                          OK
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>


                  <div class="col-9">
                      <ul class="pagination justify-content-end">
                          @{
                              int totalPages = ViewBag.totalPages;
                              int currentPage = ViewBag.currentPage;
                              string search = ViewBag.search;
                              int pageSize = ViewBag.pageSize;
                              int totalItems = ViewBag.totalItems;


                              // Hiển thị nút < nếu pageCurrent lớn hơn 1 và ngược lại thỳ sẽ gán thuộc tính disabled
                              if (currentPage > 1)
                              {
                                  int previousPage = currentPage - 1;
                                  <li class="page-item"><a class="page-link active" href="?currentPage=@previousPage&search=@search&pageSize=@pageSize">❮</a></li>
                              }
                              else
                              {
                                  <li class="page-item"><a class="page-link active" disabled>❮</a></li>
                              }

                              // Hiển thị các page nếu page nào đang hiển thị sẽ để trạng thái active
                              int i;
                              for (i = 1; i <= totalPages; i++)
                              {
                                  if (i == currentPage)
                                  {
                                      <li class="page-item active"><a class="page-link" href="?currentPage=@i&search=@search&pageSize=@pageSize">@i</a></li>
                                  }
                                  else
                                  {
                                      <li class="page-item"><a id="" class="page-link" href="?currentPage=@i&search=@search&pageSize=@pageSize">@i</a></li>
                                  }
                              }

                              // Hiển thị nút > nếu pageCurrent lớn hơn 0 và pageCurrent < totalPages ngược lại thỳ sẽ gán thuộc tính disabled
                              if (currentPage > 0 && currentPage < totalPages)
                              {
                                  int nextPage = currentPage + 1;
                                  <li class="page-item"><a class="page-link active" href="?currentPage=@nextPage&search=@search&pageSize=@pageSize">❯</a></li>
                              }
                              else
                              {
                                  <li class="page-item"><a class="page-link active" disabled>❯</a></li>
                              }
                          }
                      </ul>
                      <div>
                      </div>
                  </div>




                  <div>
                      <a class="btn btn-primary" asp-controller="Customer" asp-action="Create">
                          Insert
                      </a>
                  </div>
              </div>

          </div>
</div>