@{
    var featuredProducts = ViewBag.featuredProductsViewModel;
    var newProducts = ViewBag.newProductsViewModel;
}


<div class="col-lg-9 col-md-12">
    <!--banner slider start-->
    <div class="banner_slider slider_1">
        <div class="slider_active owl-carousel">
            <div class="single_slider" style="background-image: url(site/assets/img/slider/slide_1.png)">
                <div class="slider_content">
                    <div class="slider_content_inner">
                        <h1>Women's Fashion</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <a href="#">shop now</a>
                    </div>
                </div>
            </div>
            <div class="single_slider" style="background-image: url(site/assets/img/slider/slider_2.png)">
                <div class="slider_content">
                    <div class="slider_content_inner">
                        <h1>New Collection</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <a href="#">shop now</a>
                    </div>
                </div>
            </div>
            <div class="single_slider" style="background-image: url(site/assets/img/slider/slider_3.png)">
                <div class="slider_content">
                    <div class="slider_content_inner">
                        <h1>Best Collection</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        <a href="#">shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner slider start-->
    <!--new product area start-->
    <div class="new_product_area">
        <div class="block_title">
            <h3>New Products</h3>
        </div>
        <div class="row">
            <div class="product_active owl-carousel">
                @foreach (var item in newProducts)
                {
                    <div class="col-lg-3">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a asp-controller="Home" asp-action="DetailProduct" asp-route-id="@item.Id"><img src="~/images/@item.ImageName" alt=""></a>
                                <div class="img_icone">
                                    <img src="~/site/assets\img\cart\span-new.png" alt="">
                                </div>
                                <div class="product_action">
                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <span class="product_price">@item.Price</span>
                                <h3 class="product_title"><a href="single-product.html">@item.Name</a></h3>
                            </div>
                            <div class="product_info">
                                <ul>
                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#modal_box" title="Quick view">View Detail</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--new product area start-->
    <!--featured product start-->
    <div class="featured_product">
        <div class="block_title">
            <h3>Featured Products</h3>
        </div>
        <div class="row">
            <div class="product_active owl-carousel">

                @foreach (var item in featuredProducts)
                {
                    <div class="col-lg-3">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a asp-controller="Home" asp-action="DetailProduct" asp-route-id="@item.Id"><img src="~/images/@item.ImageName" alt=""></a>
                                <div class="hot_img">
                                    <img src="~/site/assets\img\cart\span-hot.png" alt="">
                                </div>
                                <div class="product_action">
                                    <a href="#"> <i class="fa fa-shopping-cart"></i> Add to cart</a>
                                </div>
                            </div>
                            <div class="product_content">
                                <span class="product_price">@item.Price <sup>VNĐ</sup></span>
                                <h3 class="product_title"><a href="single-product.html">@item.Name</a></h3>
                            </div>
                            <div class="product_info">
                                <ul>
                                    <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#modal_box" title="Quick view">View Detail</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--featured product end-->
    <!--banner area start-->
    <div class="banner_area mb-60">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_banner">
                    <a href="#"><img src="~/site/assets\img\banner\banner7.jpg" alt=""></a>
                    <div class="banner_title">
                        <p>Up to <span> 40%</span> off</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_banner">
                    <a href="#"><img src="~/site/assets\img\banner\banner8.jpg" alt=""></a>
                    <div class="banner_title title_2">
                        <p>sale off <span> 30%</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->
    <!--brand logo strat-->
    <div class="brand_logo mb-60">
        <div class="block_title">
            <h3>Brands</h3>
        </div>
        <div class="row">
            <div class="brand_active owl-carousel">
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="~/site/assets\img\brand\brand1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="~/site/assets\img\brand\brand2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="~/site/assets\img\brand\brand3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="~/site/assets\img\brand\brand4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="~/site/assets\img\brand\brand5.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single_brand">
                        <a href="#"><img src="~/site/assets\img\brand\brand6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--brand logo end-->
</div>
<!--pos home section end-->
