@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "RelatedProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var shopProductsViewModel = ViewBag.shopProductsViewModel;
    var customerId = Context.Session.GetInt32("customerId");


    ViewData["title"] = "Shop";
}

<div class="col-lg-9 col-md-12">
    <!--banner slider start-->
    <div class="banner_slider mb-35">
        <img src="~/site/assets\img\banner\bannner10.jpg" alt="">
    </div>
    <!--banner slider start-->
    <!--shop toolbar start-->
    <div class="shop_toolbar mb-35">

        <div class="list_button">
            <ul class="nav" role="tablist">
                @*<li>
                    <a class="active" data-toggle="tab" href="#large" role="tab" aria-controls="large" aria-selected="true"><i class="fa fa-th-large"></i></a>
                </li>*@
            </ul>
        </div>
        <div class="page_amount">
            <p>Showing 1–9 of 21 results</p>
        </div>

        <div class="select_option">
            <form action="#">
                <label>Sort By</label>
                <select name="orderby" id="short">
                    <option selected="" value="1">Position</option>
                    <option value="1">Price: Lowest</option>
                    <option value="1">Price: Highest</option>
                    <option value="1">Product Name:Z</option>
                    <option value="1">Sort by price:low</option>
                    <option value="1">Product Name: Z</option>
                    <option value="1">In stock</option>
                    <option value="1">Product Name: A</option>
                    <option value="1">In stock</option>
                </select>
            </form>
        </div>
    </div>
    <!--shop toolbar end-->
    <!--shop tab product-->
    <div class="shop_tab_product">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="large" role="tabpanel">
                <div class="row">
                    @foreach (var item in shopProductsViewModel)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a asp-controller="Home" asp-action="DetailProduct" asp-route-Id="@item.Id"><img src="~/images/@item.ImageName" alt=""></a>
                                    <div class="img_icone">
                                        <img src="assets\img\cart\span-new.png" alt="">
                                    </div>
                                    <div class="product_action">
                                        @*<a asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@item.Id"> <i class="fa fa-shopping-cart"></i> Add to cart</a>*@

                                        @*Xử lý giỏ hàng với Ajax*@
                                        <a data-id="@item.Id" class="add-to-cart text-white"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <span class="product_price">@String.Format("{0:n0}", item.Price)</span>
                                    <h3 class="product_title"><a href="single-product.html">@item.Name</a></h3>
                                </div>
                                <div class="product_info">
                                    <ul>
                                        <li><a href="#" title=" Add to Wishlist ">Add to Wishlist</a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#modal_box" title="Quick view">View Detail</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--shop tab product end-->
    <!--pagination style start-->
    <div class="pagination_style">
        <div class="item_page">
            <form action="" method="get">
                <label for="page_select">show</label>
                <select name="pageSize" id="page_select">
                    <option value="1">5</option>
                    <option value="2">10</option>
                    <option value="3">15</option>
                </select>
                <span><button type="submit" class="btn btn-danger">OK</button></span>
            </form>
        </div>
        <div class="page_number">
            <span>Pages: </span>
            <ul>
                <li>«</li>
                <li class="current_number">1</li>
                <li><a href="#">2</a></li>
                <li>»</li>
            </ul>
        </div>
    </div>
    <!--pagination style end-->
</div>


<!-- Thêm vào giỏ hàng bằng Ajax -->
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $(".add-to-cart").click(function () {
                $.ajax({
                    url: "../../Cart/AddToCart",
                    data: {
                        id: $(this).data("id"),
                        quantity: 1
                    },
                    success: function (data) {
                        console.log(data);
                        Swal.fire({
                            // position: 'top-end',
                            icon: 'success',
                            title: 'Add to cart success fully',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        $("#cart-count").html(data.totalItems);
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Add to cart failed',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                });
            });
        });
    </script>
}